<!DOCTYPE html>
<html>

{% include "parts/head.html" %}


<body class="welcome">
    <header class="welcomeheader">
        <div class="ourproject">
            <h1 class="ourprojecth1">Our Project</h1>
        </div>
    </header>
    <div class="body">
        <h1 class="studentaffairsh1">Student Affiars Website</h1>
        <p class="studentaffairsp">the online platform dedicated to serving<br> the needs of students everywhere</p>
        <div class="welcomeimage">
            <div class="humanresources">
                <h4 class="humanresourcesh4">Human Resouce</h4>
                <p class="humanresourcesp">Project details for <br> human resources <br>website</p>
                <button id="exploren">Explore More</button>
            </div>
            <div class="higherstudies">
                <h4 class="higherstudiesh4">Higher Studies</h4>
                <p class="higherstudiesp">Project details for <br>higher studies <br>website</p>
                <button id="exploren">Explore More</button>
            </div>
            <div class="explore">
                <button id="explore" onclick="gotohomepage()">Explore More</button>
            </div>
            <div class="laboratorytracking">
                <h4 class="laboratorytrackingh4">Laboratory Tracking</h4>
                <p class=laboratorytrackingp4>Project details for <br> Laboratory tracking <br>website</p>
                <button id="exploren">Explore More</button>
            </div>

        </div>
    </div>
    {% include "parts/footer.html" %}
</body>

</html>